.publicidad{
    margin-top: -600px;
    display: inline-block;
}
.publicidad2{
    margin-top: -600px;
display: inline-block;
}
.publicidad3{
    margin-top: -350px;
}
.publicidad4{
    margin-top: -500px;
}
.publicidad5{
    margin-top: -475px;
}
.publicidad6{
    margin-top: -375px;
}
.publicidad7{
    margin-top: -200px;
}
.publicidad8{
    margin-top: -500px;
}
.publicidad_logitech{
    margin-top: -600px;
}